.gradient-custom {
  background: #6a11cb;
  background: linear-gradient(to bottom right,
      rgba(37, 117, 252, 1),
      rgba(37, 117, 252, 0.1));
}

.btn-parts {
  flex-grow: 1;
  min-width: 38px;
}

.btn-parts .middle {
  min-width: 120px;
}

label {
  text-align: left;
}

.position-absolute {
  top: 3rem;
  right: 5px;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 999;
  color: black;
  height: 2.25rem;
  width: 2.25rem;
}

.text-error {
  color: red;
}

.form-control {
  background-color: #ffffff;
  color: #212529;
}

.form-control::placeholder {
  color: rgb(51, 51, 51);
}
