<div class="card" refreshable (refreshCallback)="onRefresh()">
  <div class="card-header">
    <div class="my-1 d-flex gap-1">
      <button class="btn btn-primary" (click)="openModal(content, false)">
        <fa-icon [icon]="faPlus"></fa-icon>
        <span class="ms-1">Thêm</span>
      </button>
      <button class="btn btn-success" (click)="openModal(content, true)">
        <fa-icon [icon]="faPenToSquare"></fa-icon>
        <span class="ms-1">Sửa</span></button>
      <button class="btn btn-secondary">
        <fa-icon [icon]="faCopy"></fa-icon>
        <span class="ms-1">Copy</span></button>
      <button #btnDelete class="btn btn-danger" (click)="onDelete()">
        <fa-icon [icon]="faTrash"></fa-icon>
        <span class="ms-1">Xóa</span></button>
    </div>
  </div>
  <div class="card-body">
    <tabulator-table-single #tblComp [columnNames]="columnNames" [tableData]="comm"
      [hasSeclection]="false"></tabulator-table-single>
  </div>
</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-area">Truyền thông</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <input type="text" class="form-control form-id-input" id="comm_id" name="comm_id" [(ngModel)]="commFormValue.Id">
      <div class="mb-3 row">
        <label for="comm_name" class="col-sm-3 col-form-label">Tên</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="comm_name" name="comm_name"
            [(ngModel)]="commFormValue.CommunicationName" ngbAutofocus>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="comm_description" class="col-sm-3 col-form-label">Mô tả</label>
        <div class="col-sm-9">
          <textarea class="form-control" id="comm_description" name="comm_description" maxlength="200"
            [(ngModel)]="commFormValue.Description"></textarea>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="save(modal)">Lưu</button>
  </div>
</ng-template>
