<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer [mode]="isSideNavSideMode ? 'side' : 'over'" (openedChange)="onDrawerOpenChange($event)"
    [opened]="isSideNavOpened">
    <mat-toolbar>
      <img class="rtc-logo" src="/imgs/rtc-icon.png">
      <span class="spacer"></span>
      <button mat-icon-button (click)="onDrawerModeChange()">
        <mat-icon fontSet="material-symbols-outlined">{{isSideNavSideMode?'keep_off':'keep'}}</mat-icon>
      </button>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item (click)="onAddTab('Khu vực', areas)">
        <img matListIcon src="/imgs/icons/areas.png" class="icon me-1">Khu vực</a>
      <a mat-list-item (click)="onAddTab('Thiết bị', devices)">
        <img matListIcon src="/imgs/icons/devices.png" class="icon me-1">Thiết bị</a>
      <a mat-list-item (click)="onAddTab('Kiểu truyền thông', communication)">
        <img matListIcon src="/imgs/icons/communication.png" class="icon me-1">Kiểu truyền thông</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div class="d-flex align-items-center">
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <!-- <span>Quản lý bảo trì</span> -->
        <span class="spacer"></span>
        <!-- <button mat-icon-button aria-label="Notifications">
          <mat-icon>notifications</mat-icon>
        </button> -->
        <button mat-icon-button [cdkMenuTriggerFor]="profileMenu" aria-label="Account options">
          <mat-icon>account_circle</mat-icon>
        </button>

        <ng-template #profileMenu>
          <div class="profile-menu" cdkMenu>
            <button mat-menu-item class="profile-menu-item">
              <mat-icon>person</mat-icon>
              <span>Tài khoản</span>
            </button>
            <button mat-menu-item class="profile-menu-item" (click)="onLogOut()">
              <mat-icon>logout</mat-icon>
              <span>Đăng xuất</span>
            </button>
          </div>
        </ng-template>
      </div>
    </mat-toolbar>

    <div class="content">
      <!-- <router-outlet></router-outlet> -->
      <dynamic-tabs #tabContainer [(tabs)]="tabs">

      </dynamic-tabs>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>