<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer [mode]="isSideNavSideMode ? 'side' : 'over'" (openedChange)="onDrawerOpenChange($event)"
    [opened]="isSideNavOpened">
    <div class="d-flex flex-column align-items-center h-100 side-bar-menu">
      <mat-toolbar>
        <img class="rtc-logo" src="imgs/rtc-icon.png">
        <span class="spacer"></span>
        <button mat-icon-button (click)="onDrawerModeChange()">
          <mat-icon fontSet="material-symbols-outlined">{{isSideNavSideMode?'keep_off':'keep'}}</mat-icon>
        </button>
      </mat-toolbar>
      <mat-nav-list class="w-100">
        <a mat-list-item (click)="onAddTab('Dashboard', dashboard)" data-tab-name="Dashboard">
          <img matListIcon src="imgs/icons/dashboard.png" class="icon me-1">
          <span class="fw-bold text-light">Dashboard</span>
        </a>
        <a mat-list-item (click)="onAddTab('Khu vực', areas)" data-tab-name="Khu vực">
          <img matListIcon src="imgs/icons/areas.png" class="icon me-1">
          <span class="fw-bold text-light">Khu vực</span>
        </a>
        <a mat-list-item (click)="onAddTab('Thiết bị', devices)" data-tab-name="Thiết bị">
          <img matListIcon src="imgs/icons/devices.png" class="icon me-1">
          <span class="fw-bold text-light">Thiết bị</span>
        </a>
        <a mat-list-item (click)="onAddTab('Kiểu truyền thông', communication)" data-tab-name="Kiểu truyền thông">
          <img matListIcon src="imgs/icons/communication.png" class="icon me-1">
          <span class="fw-bold text-light">Kiểu truyền thông</span>
        </a>
      </mat-nav-list>
      <div class="spacer"></div>
      <div class="w-100" style="height: 52px;">
        <button mat-icon-button [cdkMenuTriggerFor]="profileMenu" aria-label="Account options">
          <mat-icon>account_circle</mat-icon>
        </button>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content-wrapper">
      <button #btnToggle class="toggle-btn" [class.open]="!isSideNavOpened"
        (click)="drawer.toggle();btnToggle.classList.toggle('open', isSideNavOpened)">
      </button>
      <div class="content">
        <dynamic-tabs #tabContainer [(tabs)]="tabs" />
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #profileMenu>
  <div class="profile-menu" cdkMenu>
    <button mat-menu-item class="profile-menu-item">
      <mat-icon>person</mat-icon>
      <span>Tài khoản</span>
    </button>
    <button mat-menu-item class="profile-menu-item" (click)="onLogOut()">
      <mat-icon>logout</mat-icon>
      <span>Đăng xuất</span>
    </button>
  </div>
</ng-template>
