.nav-tabs {
  border-bottom: 2px solid #dee2e6;
  gap: 0.2rem;
  flex-wrap: wrap;
  overflow-x: auto;
  overflow-y: hidden;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.nav-tabs::-webkit-scrollbar {
  display: none;
}

.nav-tabs>.nav-item {
  float: none;
}

.nav-tabs .nav-link {
  border: 1px solid #dfdfdf !important;
  background-color: #ffffff;
  color: #000000;
  border-radius: 0.5rem 0.5rem 0 0;
  padding: 0.25rem 1rem;
  padding-right: 0.55rem;
  margin-bottom: -2px;
  transition: background-color 0.3s, color 0.3s;
}

.nav-tabs .nav-link:hover {
  background-color: #646468;
  color: #ffffff;
}

.nav-tabs .nav-link.active {
  background-color: #c6c7c7;
  color: #212529;
  font-weight: 500;
}

.tab-content {
  height: var(--tab-content-height, calc(100% - 2px));
}

.tab-content .tab-panel {
  height: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

.cdk-drag-preview {
  background-color: #f8f9fa;
  color: black;
  border: 1px solid #dee2e6;
  padding: 6px 12px;
  border-radius: 0.375rem;
  font-weight: 600;
}

.cdk-drag-preview.active {
  background-color: rgb(196, 225, 234);
}

.cdk-drag-placeholder {
  opacity: 0 !important;
  /* background: transparent !important;
  border: 1px dashed #999;
  border-radius: 0.5rem;
  min-width: 100px;
  height: 100%;
  box-sizing: border-box; */
}
