<div class="card h-100" refreshable (refreshCallback)="onRefresh()">
  <div class="card-header">
    <div class="my-1 d-flex gap-1">
      <button class="btn btn-primary-alt" (click)="openModal(content, false)">
        <fa-icon [icon]="faPlus"></fa-icon>
        <span class="ms-1">Thêm</span>
      </button>
      <button class="btn btn-success-alt" (click)="openModal(content, true)">
        <fa-icon [icon]="faPenToSquare"></fa-icon>
        <span class="ms-1">Sửa</span></button>
      <button #btnDelete class="btn btn-danger-alt" (click)="onDelete()">
        <fa-icon [icon]="faTrash"></fa-icon>
        <span class="ms-1">Xóa</span></button>
    </div>
  </div>
  <div class="card-body">
    <tabulator-table-single #tblComp [columnNames]="columnNames" [tableData]="areas" [dataTree]="true"
      [hasSelection]="false" [height]="'100%'"></tabulator-table-single>
  </div>
</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-area">Khu vực</h4>
    <button type="button" class="btn-close btn-close-white" aria-label="Close"
      (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <input type="text" class="form-control form-id-input" id="area_id" name="area_id" [(ngModel)]="areaFormValue.Id">
      <div class="mb-3 row">
        <label for="area_code" class="col-sm-3 col-form-label">Mã khu vực</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="area_code" name="area_code" [(ngModel)]="areaFormValue.AreaCode"
            ngbAutofocus>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="area_name" class="col-sm-3 col-form-label">Tên khu vực</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="area_name" name="area_name" maxlength="200"
            [(ngModel)]="areaFormValue.AreaName">
        </div>
      </div>
      <div class="mb-3 row">
        <label for="area_parent_id" class="col-sm-3 col-form-label">Khu vực</label>
        <div class="col-sm-9">
          <ngx-select id="area_parent_id" [items]="areasParent" [optionValueField]="'Id'" [optionTextField]="'AreaName'"
            placeholder="Chọn khu vực" [(ngModel)]="areaFormValue.ParentId" name="area_parent_id"></ngx-select>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="save(modal)">Lưu</button>
  </div>
</ng-template>
