table {
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
}

.fixed-table {
  table-layout: fixed;
  width: 100%;
}

.cell-content {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: .25rem .5rem;
}

.header {
  height: 38px;
  font-size: 18px;

}

.header label {
  background-color: #2DA4CB;
}

.header input {
  width: 300px;
}

.card {
  height: calc(100% - 42px);
}

.overflow-auto {
  height: calc(100%);
}

.file-upload-card {
  max-width: 400px;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: .5rem;
  background: #fff;
  font-family: sans-serif;
}

.file-label {
  display: block;
  margin-bottom: 1rem;
  font-weight: 600;
}

form label {
  max-width: 120px;
}

form .input {
  flex: 1 1 0;
}

ngx-select {
  width: 250px;
}